<section class="about-hero">
  <h1>À propos d’Avis Jeux</h1>
  <p class="subtitle">
    Pourquoi ce site existe et qui se cache derrière les avis.
  </p>
</section>

<section class="about-content">

  <div class="about-block highlight">
    <h2>👋 Qui suis-je ?</h2>
    <p>
      Je m'appelle Baptiste, je suis freelance en tant que Vidéaste, Motion Designer et Développeur web.<br>
      Vous pouvez d'ailleurs retrouver mon portfolio juste ici ➡️ <strong><a class="book" href="https://www.baptisteleblanc.fr">PORTFOLIO</a></strong><br>
      Je suis actuellement à la recherche de projets captivants à courte comme à longue durée :  CDI, CDD, Freelance, Intérim.
    </p>
  </div>

  <div class="about-block">
    <h2>🎯 Pourquoi j’ai créé ce site</h2>
    <p>
      Ma copine et moi avons créé Avis Jeux pour aider les joueurs à choisir des jeux de société
      adaptés à leurs envies, sans qu'ils passent des heures à comparer, comme moi j'ai pu en gâcher.
    </p>
  </div>

  <div class="about-block">
    <h2>🎲 Ma passion pour les jeux</h2>
    <p>
      Les jeux font partie de mon quotidien depuis plusieurs années mais depuis que je suis avec ma copine, elle m'a emporté vers les jeux de société.<br>
      J'ai d'ailleurs déjà co-créé mon propre jeu de société <strong class="blue">Temporis</strong>. Si vous voulez en savoir plus sur la création de jeu de société, j'ai également fait <a class="livre-blanc"href="https://drive.google.com/uc?export=download&id=1z5mgQgUhs-VP__cYZILCwrBlPYBul18E">un livre blanc</a> sur la création de jeu de société qui est disponible au téléchargement.
    </p>
  </div>

  <div class="about-block">
    <h2>🤝 Transparence & indépendance</h2>
    <p>
      Certains liens sont affiliés Amazon mais cela ne change rien à mes avis. Si vous trouvez notre avis sur un jeu, c'est parce que soit nous avons eu beaucoup d'attentes avant la sortie de celui-ci, soit qu'ils nous a beaucoup plu dès les premières parties et qu'il est pour nous trop méconnu.
    </p>
  </div>


</section>
