<section class="upcoming-hero">
  <h1>Prochains Tests</h1>
  <p class="subtitle">
  </p>
</section>

<section class="upcoming-list">

  <div class="upcoming-card">
    <h2>🪖 Toy Battle</h2>
    <p>Avec ce jeu, préparez-vous à vivre le chaos le plus total dans la chambre d'enfant ! Toy Battle, c'est essentiellement la version vidéoludique de ce qui se passe quand vous quittez la pièce et que vos jouets décident de régler leurs comptes.</p>
  </div>

  <div class="upcoming-card">
    <h2>🕵️ District Noir</h2>
    <p>Avec ce jeu, on plonge direct dans les ruelles sombres et enfumées du crime organisé. District Noir, c'est le jeu qui prouve que pour devenir le roi de la pègre, il n'y a pas besoin de muscles, juste d'un énorme culot et d'un sens aigu de l'arnaque.</p>
  </div>

  <div class="upcoming-card">
    <h2>🩸 Dracula vs Van Helsing</h2>
    <p>Dracula vs Van Helsing, c'est essentiellement un combat de catch asymétrique où l'un veut transformer tout un quartier de Londres en buffet à volonté, tandis que l'autre essaie de planter des pieux avant l'aube.</p>
  </div>

</section>
